body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    max-width: 38rem;
    margin: auto;
}


/* Developped By Yassine Castro aka Yassinos */


/* -----------------------------*/


/* Title */

#H1 {
    width: 690px;
    background-color: #009879;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0 0;
}


/* ----------------------------- */


/*          Div Table     */

#sig {
    width: 100%;
    margin-left: -43%;
}


/* -------------------------*/


/*         Table Style Parameters    */

.content-table {
    width: 200%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table tbody th {
    background-color: #009879;
    color: black;
    text-align: center;
    font-weight: bold;
}

.content-table tbody td,
th {
    padding: 7px 12px;
}

.content-table tbody tr {
    border-bottom: 1px solid grey;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table tbody th {
    text-align: center;
}

.content-table tbody tr {
    text-align: center;
}

.content-table tbody td {
    text-align: center;
}


/* -----------------------------*/


/* Related to table rows and data */

.totals {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.results {
    background-color: yellow;
    font-size: 1.2em;
    font-weight: bold;
}


/* ---------------------*/


/* Button Stuff */

#action {
    margin-left: -27%;
    margin-top: -1%;
    width: 90%;
    position: fixed;
}


/*    Button Cancel  */

.button-cancel {
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-cancel:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button-cancel {
        padding: 10px 30px;
    }
}


/*  ----------------------------- */


/*    Button Submit     */

.button-submit {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-submit:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button-submit {
        padding: 10px 30px;
    }
}


/* --------- input ------------ */

input {
    border: none;
    color: black;
    background: #e6e6e6;
    outline: none;
    text-decoration: none;
    border-bottom-style: solid;
    border-color: #13aa52;
    font-size: 15px;
}


/* ------------------------------ */